<settings>
    <servers>
        <server>
            <id>maven2.releases.levigo.de</id>
            <username>${REPOSITORY_RELEASE_USERID}</username>
            <password>${REPOSITORY_RELEASE_CREDENTIALS}</password>
        </server>
    </servers>

    <profiles>
        <!--
         Downloading all maven artifacts from a mirror some 6000 miles away does not seem reasonable.
         Therefore we download only the private artifacts from Nexus3 and all publicly available artifacts from maven-central.
         -->
        <profile>
            <id>central-nexus</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <altDeploymentRepository>maven2.releases.levigo.de::default::${REPOSITORY_URL}</altDeploymentRepository>
            </properties>
            <repositories>
                <repository>
                    <id>maven-central</id>
                    <url>https://repo.maven.apache.org/maven2/</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
                <repository>
                    <id>maven2.releases.levigo.de</id>
                    <url>${REPOSITORY_URL}</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>maven-central</id>
                    <url>https://repo.maven.apache.org/maven2/</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </pluginRepository>
                <pluginRepository>
                    <id>maven2.releases.levigo.de</id>
                    <url>${REPOSITORY_URL}</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
